@header-bg: #272F32;
@header-font: #FFF;
@highlight: #FF3D2E;
@main-bg: #DAEAEF;
@main-font: #9DBDC6;

@header-bg: #434C52;
@header-font: #8ABBCE;
@highlight: #F5F5F5;
@main-bg: #3D4C53;
@main-font: #ddd;

@main-bg: #F5F5F5;


// @header-bg: #FF5A09;
// @header-font: #393939;
// @highlight: #FFF;
// @main-bg: #6e6e6e;
// @main-font: #ddd;

@nav-width: 520px;

h1,h2,h3,h4,h5,div{
	margin:0;
	padding:0;
}

body{
	font-family:Arial, sans-serif;
	background-color: @main-bg;
}

.header{
	background-color: @header-bg;
	height: 100px;
	// position: relative;
	
	.title{
		width: @nav-width;
		display: block;
		margin: 0 auto;
		padding-top: 10px;
		// padding-right: 25px;
		h1{
			color: @header-font;
			text-align: center;
		}
	}
	


	.nav{
		width: @nav-width;
		display: block;
		margin: 0 auto;
		height: 40px;
		padding-top: 10px;
		h2{
			width:100px;
			font-size:20px;
			text-align: center;
			color: @highlight;
			float:left;
			padding-left: 15px;
			padding-right: 15px;
			&:hover{
				color: @header-bg;
				cursor: pointer;
				background-color: @main-bg;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;

// 				@header-bg: #434C52;
// @header-font: #8ABBCE;
// @highlight: #F5F5F5;
// @main-bg: #3D4C53;
			}

		}
	}
}



.main{
	background-color: @main-bg;
	color: @header-bg;
	.welcome{
		width: 100%;
		position:absolute;
		// margin: 0 auto;
		text-align: center;
		font-size: 50px;
		margin-top: 57px;

		#hasExtension{
			position: absolute;
			font-size: 0.5em;
			top:-115px;
			right:10px;
			color: #F00F0F;
			&:hover{
				color: #FF0000;
				cursor: pointer;
			}
		}
	}

	.data{
		.settings{
			width: 250px;
			height:285px;
			float: right;
			position: absolute;
			right:0px;
			// padding-right: 5px;
			.fa-cog{
				color: @header-bg;
				font-size: 25px;
				position: absolute;
				top:5px;
				right: 5px;
			}
			.controls{
				background-color: rgba(67,76,82,0.3);
				color: @header-bg;
				width: 250px;
				height: 285px;
				padding-top: 30px;
				.control{
					height: 100px;
					margin: 10px;
					margin-top:0px;
				}

				.slider-title{
					text-align: center;
				}

				input[type='range'] {
	                -webkit-appearance: none !important;
	                -webkit-border-radius: 5px;
	                -webkit-box-shadow: inset 0 0 5px #333;
	                background-color: #ccc;
	                display: block;
	                height: 5px;
	                left: 8px;
	                margin: 20px;
	                position: absolute;
	                right: 10px;
	            }
	            input[type='range']::-webkit-slider-thumb {
	                -webkit-appearance: none !important;
	                -webkit-border-radius: 5px;
	                background-color: #AAA;
	                background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
	                border: 1px solid #999;
	                height: 20px;
	                width: 20px;
	            }

	            .redraw{
	            	text-align: center;
	            	margin:3px;
	            	border: 2px solid black;
	            	height: 50px;
	            	line-height: 50px;
	            	color: @highlight;
	            	background-color: @header-bg;
	            	cursor: pointer;
	            	&:hover{
	            		background-color: rgba(67, 76, 82, 0.6);

	            	}
	            }
			}
		}
		
	}
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node-label{
	font-size: 1em;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden{
	display: none;
}

.wikimap svg{
	// background-color: #222;
}

#viz{
	position:absolute;
	
}

.backgroundBlur{
	position:absolute;
	background-color: rgba(33,33,33,0.8);

}


body{
	background-color: #333;
}

.gridcanvas{
	#myCanvas{
		display: block;
		margin: 0 auto;
	}
}

.datacanvas{
	position:absolute;
	top:0px;
	#dataCanvas{
	display: block;
		margin: 0 auto;

	}
}

#container{
	// width:1250px;
	// height:800px;
	border: 1px solid #ccc;
	border-left:none;
	border-right:none;
	margin: 0 auto;
	// margin-top: 100px;
}

.title-bar{
	height:100px;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	color: #ccc;
}

.details{
	margin: 0 auto;
	width: 600px;
	text-align: center;
	color: #ccc;
}